body { 
    font-family: arial;
    font-size: 20px;
    background-color: #faf6e8;   
}

h2#book-title {
    font-family: fantasy;
    font-style: oblique;
    font-size: 41px;
}

div#toc {
    border-style: dotted;
    border-color: black;
    border-width: thin;
    margin-left: 50px;
    margin-bottom: 100px;
    padding-left: 8px;
    width: 40%;
}

img#shunryu {
    float:right;
    padding-right: 10%;
    height:50%;
}
div#toc  ul { list-style-type:none; }
div#toc  li { list-style-type:none; }


div .chapter-title {
    font-family: fantasy;
    font-style: oblique;
    font-variant-caps: small-caps;
    font-size: 41px;
}

h4.chapter-tagline{
    font-family: fantasy;
    font-size: 15px;
    font-style: oblique;
    width: 45%;
    text-align: justify;
    margin-top: 70px;
    margin-bottom: 41px;
}


h4.chapter-tagline .first-word {
    margin-right: 12px;
    font-variant-caps: small-caps;
    font-size: 30px;
    color: crimson;
    font-weight: bold;
}

h4.chapter-tagline .first-word :first-letter {
    font-variant-caps: small-caps;
    font-size: 30px;
    font-style: normal;
}

div .chapter-body {
    text-align: justify;
    text-indent: 40;
    column-gap: 25px; 
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
}

div .chapter-body:first-letter {
    font-family: fantasy;
    font-style: oblique;
    font-size:200%;
    font-weight: bold;
    letter-spacing: 5px;
}

hr .linesep {
   hight: 18px;
}
