body { 
    font-family: arial;
    font-size: 20px;
    background-color: #faf6e8;   
}

h2 #book-title {
    font-family: fantasy;
    font-style: oblique;
    font-size: 41px;
}

div .chapter-title {
    font-family: fantasy;
    font-style: oblique;
    font-variant-caps: small-caps;
    font-size: 41px;
}

div .chapter-body {
    text-align: justify;
    text-indent: 40;
    column-gap: 25px; 
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
}

div .chapter-body:first-letter {
    font-family: fantasy;
    font-style: oblique;
    font-size:200%;
    font-weight: bold;
    letter-spacing: 5px;
}

hr .linesep {
   hight: 18px;
}
